<wrapper class="signature-fluid fluid-bg">
  <spacer size="32"></spacer>
  <container class="signature">
      <!-- <columns small="12" large="11"> -->
        <row>
          <columns small="5" large="3">
            <center>
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostech.com.ve-mail-profile-photo.png" alt="jostechs mail profile photo" srcset="" style="padding-top:22px;">
            </center>
          </columns>
          <columns small="7" valign="middle" style="padding-right:16px;">
            <row>
              <h1 class="small-text-center" style="line-height:1">Rafael Otero</h1>
              <hr>
              <p class="small-text-center hide-for-large">
                Web Developer <br>
                CEO JosTechS <br>
                +58 416 758 25 13 <br>
                <a href="mailto:Devjrafaelotero@outlook.com"> DevJRafaelOtero@outlook.com </a> <br>
                www.devjrafaelotero.com.ve <br>
              </p>
            </row>
            <row class="show-for-large">
              <columns>
                Web Developer <br>
                CEO JosTechS <br>
              </columns>
              <columns>
                +58 416 758 25 13 <br>
                <a href="mailto:Devjrafaelotero@outlook.com"> DevJRafaelOtero@outlook.com </a> <br>
                <a href="http://www.devjrafaelotero.com.ve"> www.devjrafaelotero.com.ve </a> <br>
              </columns>
            </row>
            <row class="show-for-large" >
              <columns valign="bottom">
                <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostech.com.ve-mail-qr-code.png" alt="jostechs mail qrcode" srcset="">
              </columns>
              <columns valign="bottom">
                <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostech.com.ve-mail-logo.png" alt="jostechs mail logo" srcset="">
              </columns>
            </row>
          </columns>
          <columns large="1" class="show-for-large social-icons-large" valign="middle" style="padding-left:16px; padding-top:8px">
            <a href="http://www.jostech.com.ve" target="_blank"> 
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-globe.png" alt="jostechs social globe icon" srcset="">
            </a>
            <a href="https://www.facebook.com/j.rafaeloterolopez" target="_blank"> 
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-facebook.png" alt="jostechs social globe icon" srcset="">
            </a>
            <a href="https://twitter.com/JosManMx" target="_blank"> 
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-twitter.png" alt="jostechs social globe icon" srcset="">
            </a>
            <a href="https://www.instagram.com/jostechs/" target="_blank"> 
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-instagram.png" alt="jostechs social globe icon" srcset="">
            </a>
            <a href="https://t.me/jostechs" target="_blank"> 
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-telegram.png" alt="jostechs social globe icon" srcset="">
            </a>
            <a href="https://github.com/JosManMx" target="_blank"> 
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-github.png" alt="jostechs social globe icon" srcset="">
            </a>
          </columns>
        </row>

        <row class="hide-for-large">
          <columns small="5" large="3">
            <center>
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostech.com.ve-mail-qr-code.png" alt="jostechs mail qrcode" srcset="">
            </center>
          </columns>
          <columns small="7" large="6">
            <center>
              <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostech.com.ve-mail-logo.png" alt="jostechs mail logo" srcset="">
            </center>
          </columns>
        </row>
        <row>
          <columns small="12" large="8" class="social-icons hide-for-large">
            <columns small="2" large="12">
              <a href="http://www.jostech.com.ve" target="_blank"> 
                <center>
                  <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-globe.png" alt="jostechs social globe icon" srcset="">
                </center>
              </a>
            </columns>
            <columns small="2" large="12">
              <a href="http://www.facebook.com/" target="_blank"> 
                <center>
                  <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-facebook.png" alt="jostechs social globe icon" srcset="">
                </center>
              </a>
            </columns>
            <columns small="2" large="12">
              <a href="http://www.twitter.com/" target="_blank"> 
                <center>
                  <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-twitter.png" alt="jostechs social globe icon" srcset="">
                </center>
              </a>
            </columns>
            <columns small="2" large="12">
              <a href="http://www.instagram.com/" target="_blank"> 
                <center>
                  <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-instagram.png" alt="jostechs social globe icon" srcset="">
                </center>
              </a>
            </columns>
            <columns small="2" large="12">
              <a href="https://t.me/jostechs" target="_blank"> 
                <center>
                  <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-telegram.png" alt="jostechs social globe icon" srcset="">
                </center>
              </a>
            </columns>
            <columns small="2" large="12">
              <a href="https://github.com/JosManMx" target="_blank"> 
                <center>
                  <img src="https://raw.githubusercontent.com/JosManMx/jostechs-mailing/master/dist/assets/img/jostechs-mail-icon-github.png" alt="jostechs social globe icon" srcset="">
                </center>
              </a>
            </columns>
          </columns>
        </row>
      <!-- </columns> -->
  </container>
  <spacer size="32"></spacer>
  
</wrapper>